.content {
  font-family: "Roboto", monospace, sans-serif;
  width: $desktop-content-width;
  min-height: 100%;
  display: flex;
  color: $basic-white;
  padding-right: 144px;
  box-sizing: border-box;
}

.content__animation {
  flex-grow: 1;
  width: 560px;
  height: 560px;
  position: relative;
  margin-top: 160px;
  transition: transform 1s;
}

.content__animation::after {
  top: 80px;
  left: 40px;
  border: 2px solid $basic-blue;
}

.content__animation::before {
  top: 120px;
  right: 40px;
  border: 2px solid $basic-red;
}

.content__animation::after,
.content__animation::before {
  opacity: 0.25;
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  box-sizing: border-box;
}

.content__phone {
  position: absolute;
  z-index: 1;
}

.content__phone--red {
  top: 0;
  left: 0;
  z-index: 2;
  animation: 2s linear 1s infinite alternate phoneSlideUp;
}

.content__phone--blue {
  right: 0;
  top: 0;
  animation: 2s linear 1s infinite alternate phoneSlideDown;
}

.content__phone--red,
.content__phone--blue {
  transition: transform 1s;
}

.content__title {
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
  padding-bottom: 80px;
}

.content__link-title {
  letter-spacing: 0.16em;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
  position: relative;
  text-align: left;
  color: $basic-white;
}

.link-title {
  margin-right: 4px;
  text-decoration: underline;
  color: $basic-white;
}

.link-title:hover {
  color: $basic-red;
}

.link-title--ios:hover {
  color: $basic-blue;
}

.content__links {
  display: flex;
}

.content__link-wrapper {
  width: 80px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;
}

.content__link-wrapper + .content__link-wrapper {
  margin-left: 80px;
}

.content__wrapper {
  margin-top: 240px;
}

.content__qr {
  padding-bottom: 12px;
}

@media (max-width: $desktop-content-width) {
  .content {
    width: 100%;
    height: 100%;
    padding-right: 0;
    align-items: center;
    flex-direction: column;
  }

  .content__animation {
    margin-top: 40px;
  }

  .content__wrapper {
    margin-top: 40px;
    display: flex;
  }

  .content__links {
    flex-direction: column;
  }

  .content__link-wrapper + .content__link-wrapper {
    margin-left: 0;
  }

  .content__link-wrapper {
    margin-bottom: 8px;
  }

  .content__title {
    margin-right: 32px;
  }
}

@media (max-width: 560px) {
  .content__animation {
    width: 100%;
    height: 400px;
  }

  .content__phone {
    width: 280px;
    height: 360px;
  }

  .content__phone--red {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .content__phone--blue {
    top: 0;
    right: 50%;
    transform: translateX(65%);
  }

  .content__animation::after,
  .content__animation::before {
    display: none;
  }

  .content__wrapper {
    flex-direction: column;
  }

  .content {
    padding-bottom: 40px;
  }

  .content__title {
    margin-right: 0;
    padding-bottom: 12px;
    font-size: 30px;
    line-height: 32px;
  }

  .content__links {
    flex-direction: row;
  }

  .content__link-wrapper + .content__link-wrapper {
    margin-left: auto;
  }
}

@keyframes phoneSlideUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50px);
  }
}

@keyframes phoneSlideDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(40px);
  }
}
